// global styles for <a> and <p> tags
$govuk-global-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-header";
@import "patterns/step-by-step-nav";
@import "patterns/step-by-step-related";
@import "patterns/task-list";
@import "patterns/related-items";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you


.status-box {
    background-color: #f8f8f8;
    padding: 20px;
  }
  
.app-sub-navigation {
    margin-bottom: 40px;
  }
  
  .app-sub-navigation__list {
    font-size: 0;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  @media (min-width: 23.4375em) {
    .app-sub-navigation__list {
      box-shadow: inset 0 -1px 0 #b1b4b6;
      width: 100%;
    }
  }
  
  .app-sub-navigation__item {
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    box-shadow: inset 0 -1px 0 #b1b4b6;
    display: block;
    margin-top: -1px;
  }
  
  @media print {
    .app-sub-navigation__item {
      font-family: sans-serif;
    }
  }
  
  @media (min-width: 40.0625em) {
    .app-sub-navigation__item {
      font-size: 19px;
      font-size: 1.1875rem;
      line-height: 1.31579;
    }
  }
  
  @media print {
    .app-sub-navigation__item {
      font-size: 14pt;
      line-height: 1.15;
    }
  }
  
  .app-sub-navigation__item:last-child {
    box-shadow: none;
  }
  
  @media (min-width: 23.4375em) {
    .app-sub-navigation__item {
      box-shadow: none;
      display: inline-block;
      margin-right: 20px;
      margin-top: 0;
    }
  }
  
  .app-sub-navigation__link {
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: block;
    padding-top: 12px;
    padding-bottom: 17px;
    padding-left: 15px;
    text-decoration: none;
    position: relative;
    font-weight: bold;
  }
  
  @media print {
    .app-sub-navigation__link {
      font-family: sans-serif;
    }
  }
  
  .app-sub-navigation__link:focus {
    outline: 3px solid transparent;
    color: #0b0c0c;
    background-color: #ffdd00;
    box-shadow: 0 -2px #ffdd00, 0 4px #0b0c0c;
    text-decoration: none;
  }
  
  .app-sub-navigation__link:link {
    color: #1d70b8;
  }
  
  .app-sub-navigation__link:visited {
    color: #4c2c92;
  }
  
  .app-sub-navigation__link:hover {
    color: #003078;
  }
  
  .app-sub-navigation__link:active {
    color: #0b0c0c;
  }
  
  .app-sub-navigation__link:focus {
    color: #0b0c0c;
  }
  
  @media (min-width: 23.4375em) {
    .app-sub-navigation__link {
      padding-left: 0;
    }
  }
  
  .app-sub-navigation__link:link, .app-sub-navigation__link:visited {
    color: #1d70b8;
  }
  
  .app-sub-navigation__link:hover {
    color: #0b0c0c;
  }
  
  .app-sub-navigation__link:focus {
    color: #0b0c0c;
    position: relative;
    box-shadow: none;
  }
  
  .app-sub-navigation__link:focus:before {
    background-color: #0b0c0c;
    content: "";
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 5px;
  }
  
  .app-sub-navigation__link[aria-current="page"] {
    color: #0b0c0c;
    position: relative;
    text-decoration: none;
  }
  
  .app-sub-navigation__link[aria-current="page"]:before {
    background-color: #1d70b8;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 5px;
  }
  
  @media (min-width: 23.4375em) {
    .app-sub-navigation__link[aria-current="page"]:before {
      height: 5px;
      width: 100%;
    }
  }
  
  .app-sub-navigation__link[aria-current="page"]:focus:before {
    background-color: #0b0c0c;
  }
  .app-primary-navigation {
    background-color: #f3f2f1;
  }
  
  .app-primary-navigation__container {
    max-width: 960px;
    margin-right: 15px;
    margin-left: 15px;
    font-size: 0;
    text-align: justify;
  }
  
  @supports (margin: max(calc(0px))) {
    .app-primary-navigation__container {
      margin-right: max(15px, calc(15px + env(safe-area-inset-right)));
      margin-left: max(15px, calc(15px + env(safe-area-inset-left)));
    }
  }
  
  @media (min-width: 40.0625em) {
    .app-primary-navigation__container {
      margin-right: 30px;
      margin-left: 30px;
    }
    @supports (margin: max(calc(0px))) {
      .app-primary-navigation__container {
        margin-right: max(30px, calc(15px + env(safe-area-inset-right)));
        margin-left: max(30px, calc(15px + env(safe-area-inset-left)));
      }
    }
  }
  
  @media (min-width: 1020px) {
    .app-primary-navigation__container {
      margin-right: auto;
      margin-left: auto;
    }
    @supports (margin: max(calc(0px))) {
      .app-primary-navigation__container {
        margin-right: auto;
        margin-left: auto;
      }
    }
  }
  
  .app-primary-navigation__container:after {
    content: '';
    display: inline-block;
    width: 100%;
  }
  
  .app-primary-navigation__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .app-primary-navigation__list:after {
    content: "";
    display: block;
    clear: both;
  }
  
  .app-primary-navigation__item {
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    margin-right: 15px;
    float: left;
    margin-top: 0;
  }
  
  @media print {
    .app-primary-navigation__item {
      font-family: sans-serif;
    }
  }
  
  @media (min-width: 40.0625em) {
    .app-primary-navigation__item {
      font-size: 19px;
      font-size: 1.1875rem;
      line-height: 1.31579;
    }
  }
  
  @media print {
    .app-primary-navigation__item {
      font-size: 14pt;
      line-height: 1.15;
    }
  }
  
  .app-primary-navigation__item:last-child {
    margin-right: 0;
  }
  
  @media (min-width: 40.0625em) {
    .app-primary-navigation__item {
      margin-right: 20px;
    }
  }
  
  @media (min-width: 40.0625em) {
    .app-primary-navigation__item--align-right {
      float: right;
    }
  }
  
  .app-primary-navigation__link {
    display: block;
    padding-bottom: 15px;
    padding-top: 15px;
    text-decoration: none;
    font-weight: bold;
  }
  
  .app-primary-navigation__link:link, .app-primary-navigation__link:visited {
    color: #1d70b8;
  }
  
  .app-primary-navigation__link:focus {
    color: #0b0c0c;
    position: relative;
    z-index: 1;
    box-shadow: none;
  }
  
  .app-primary-navigation__link:hover {
    color: #003078;
  }
  
  .app-primary-navigation__link[aria-current] {
    color: #1d70b8;
    position: relative;
    text-decoration: none;
    font-weight: bold;
  }
  
  .app-primary-navigation__link[aria-current]:before {
    background-color: #1d70b8;
    content: "";
    display: block;
    height: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  
  .app-primary-navigation__link[aria-current]:focus {
    color: #0b0c0c;
    position: relative;
    border: none;
  }
  
  .app-primary-navigation__link[aria-current]:focus:before {
    background-color: #0b0c0c;
  }
  
  .app-primary-navigation__link[aria-current]:hover {
    color: #003078;
  }
  
  .app-primary-navigation__link[aria-current]:hover:before {
    background-color: #003078;
  }
  
  app-application-card {
    border-bottom: 1px solid #b1b4b6;
    margin-bottom: 15px;
    padding-bottom: 15px;
  }
  
  @media (min-width: 40.0625em) {
    .app-application-card {
      display: flex;
      align-items: stretch;
    }
  }
  
  .app-application-card:first-of-type {
    border-top: 1px solid #b1b4b6;
    padding-top: 15px;
  }
  
  @media (min-width: 40.0625em) {
    .app-application-card_col:nth-last-child(4) {
      width: 5%;
      padding-right: 10px;
    }
  }
  
  @media (min-width: 40.0625em) {
    .app-application-card_col:nth-last-child(3) {
      width: 40%;
      padding-right: 15px;
    }
  }
  
  @media (max-width: 40.0525em) {
    .app-application-card_col:nth-last-child(2) {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
  
  @media (min-width: 40.0625em) {
    .app-application-card_col:nth-last-child(2) {
      width: 25%;
    }
  }
  
  @media (min-width: 40.0625em) {
    .app-application-card_col:nth-last-child(1) {
      display: flex;
      flex-direction: column;
      width: 35%;
      justify-content: space-between;
      height: 100%;
      text-align: right;
    }
  }
  
  .app-application-card_col .govuk-tag {
    align-self: flex-end;
  }
  
  .app-application-card__id {
    overflow-wrap: break-word;
  }
  
  .app-application-card__submitted {
    overflow-wrap: break-word;
  }
  
  .app-application-card__submitted span {
    display: block;
  }
  
  @media (min-width: 40.0625em) {
    .app-application-card__primary {
      width: 60%;
    }
  }
  
  .app-application-card__primary p {
    margin-bottom: 0;
  }
  
  @media (min-width: 40.0625em) {
    .app-application-card__secondary {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 40%;
      text-align: right;
    }
  }
  
  .app-application-card__status {
    margin-bottom: 10px;
    margin-top: 15px;
  }
  
  @media (min-width: 40.0625em) {
    .app-application-card__status {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  
  .app-application-card__note {
    margin-bottom: 0;
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.14286;
  }
  
  @media print {
    .app-application-card__note {
      font-family: sans-serif;
    }
  }
  
  @media (min-width: 40.0625em) {
    .app-application-card__note {
      font-size: 16px;
      font-size: 1rem;
      line-height: 1.25;
    }
  }
  
  @media print {
    .app-application-card__note {
      font-size: 14pt;
      line-height: 1.2;
    }
  }
  
  .app-application-card__note {
    padding-left: 15px;
    display: inline-block;
    padding-top: 1px;
    padding-bottom: 1px;
    color: #0b0c0c;
    position: relative;
  }
  
  .app-application-card__note:before {
    border-radius: 25px;
    height: 10px;
    width: 10px;
    background: #0b0c0c;
    content: " ";
    position: absolute;
    left: 0;
    top: 6px;
  }
  .moj-filter-layout:after {
    content: "";
    display: block;
    clear: both;
  }
  
  .moj-filter-layout__filter {
    box-shadow: inset 0 0 0 1px #f3f2f1;
  }
  
  @media (min-width: 48.0625em) {
    .moj-filter-layout__filter {
      float: left;
      margin-right: 40px;
      max-width: 385px;
      min-width: 260px;
      width: 100%;
    }
  }
  
  @media (max-width: 48.0525em) {
    .js-enabled .moj-filter-layout__filter {
      background-color: #ffffff;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      overflow-y: scroll;
      z-index: 100;
    }
  }
  
  .moj-filter-layout__content {
    overflow: hidden;
    overflow-x: auto;
  }
  
  @media (max-width: 63.75em) {
    .moj-scrollable-pane {
      position: relative;
      overflow: hidden;
      clear: both;
    }
    .moj-scrollable-pane:after {
      position: absolute;
      top: 0;
      left: 100%;
      width: 50px;
      height: 100%;
      border-radius: 10px 0 0 10px / 50% 0 0 50%;
      box-shadow: -5px 0 10px rgba(0, 0, 0, 0.25);
      content: "";
    }
  }
  
  @media (max-width: 63.75em) {
    .moj-scrollable-pane__wrapper {
      overflow-x: auto;
    }
    .moj-scrollable-pane__wrapper .govuk-table__header,
    .moj-scrollable-pane__wrapper .govuk-table__cell {
      white-space: nowrap;
    }
    .moj-scrollable-pane > div::-webkit-scrollbar {
      height: 10px;
    }
    .moj-scrollable-pane > div::-webkit-scrollbar-track {
      background: #f3f2f1;
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.15) inset;
    }
    .moj-scrollable-pane > div::-webkit-scrollbar-thumb {
      background: #505a5f;
      border-radius: 5px;
    }
  }
  
  .moj-action-bar {
    font-size: 0;
  }
  
  .moj-action-bar__filter {
    display: inline-block;
    position: relative;
  }
  
  @media (max-width: 48.0525em) {
    .moj-action-bar__filter {
      float: right;
    }
  }
  
  @media (min-width: 48.0625em) {
    .moj-action-bar__filter {
      margin-right: 10px;
      padding-right: 12px;
    }
    .moj-action-bar__filter:after {
      content: "";
      background-color: #f3f2f1;
      height: 40px;
      position: absolute;
      right: 0;
      top: 0;
      width: 2px;
    }
  }
  
  /* ==========================================================================
     #ADD ANOTHER
     ========================================================================== */
  .moj-add-another__item {
    margin: 0;
    margin-top: 30px;
    padding: 0;
    position: relative;
  }
  
  .moj-add-another__item:first-of-type {
    margin-top: 0;
  }
  
  .moj-add-another__title {
    float: left;
    padding: 4px 0;
    width: 100%;
  }
  
  .moj-add-another__remove-button {
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .moj-add-another__add-button {
    display: block;
  }
  
  .moj-add-another__heading:focus {
    background-color: #ffdd00;
    color: #0b0c0c;
    box-shadow: 0 -2px #ffdd00, 0 4px #0b0c0c;
    outline: none;
  }
  
  /* ==========================================================================
     #BADGE
     ========================================================================== */
  .moj-badge {
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 12px;
    font-size: 0.75rem;
    line-height: 1.25;
    padding: 0 5px;
    display: inline-block;
    border: 2px solid #1d70b8;
    color: #1d70b8;
    text-transform: uppercase;
    vertical-align: middle;
    outline: 2px solid transparent;
    outline-offset: -2px;
  }
  
  @media print {
    .moj-badge {
      font-family: sans-serif;
    }
  }
  
  @media (min-width: 40.0625em) {
    .moj-badge {
      font-size: 14px;
      font-size: 0.875rem;
      line-height: 1.42857;
    }
  }
  
  @media print {
    .moj-badge {
      font-size: 12pt;
      line-height: 1.2;
    }
  }
  
  .moj-badge--purple {
    border-color: #4c2c92;
    color: #4c2c92;
  }
  
  .moj-badge--bright-purple {
    border-color: #912b88;
    color: #912b88;
  }
  
  .moj-badge--red {
    border-color: #d4351c;
    color: #d4351c;
  }
  
  .moj-badge--green {
    border-color: #00703c;
    color: #00703c;
  }
  
  .moj-badge--blue {
    border-color: #1d70b8;
    color: #1d70b8;
  }
  
  .moj-badge--black {
    border-color: #0b0c0c;
    color: #0b0c0c;
  }
  
  .moj-badge--grey {
    border-color: #505a5f;
    color: #505a5f;
  }
  
  .moj-badge--large {
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.14286;
  }
  
  @media print {
    .moj-badge--large {
      font-family: sans-serif;
    }
  }
  
  @media (min-width: 40.0625em) {
    .moj-badge--large {
      font-size: 16px;
      font-size: 1rem;
      line-height: 1.25;
    }
  }
  
  @media print {
    .moj-badge--large {
      font-size: 14pt;
      line-height: 1.2;
    }
  }
  
  /* ==========================================================================
     #BANNER
     ========================================================================== */
  .moj-banner {
    border: 5px solid #1d70b8;
    color: #1d70b8;
    font-size: 0;
    margin-bottom: 30px;
    padding: 10px;
  }
  
  .moj-banner__icon {
    fill: currentColor;
    float: left;
    margin-right: 10px;
  }
  
  .moj-banner__message {
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    color: #0b0c0c;
    display: block;
    overflow: hidden;
  }
  
  @media print {
    .moj-banner__message {
      font-family: sans-serif;
    }
  }
  
  @media (min-width: 40.0625em) {
    .moj-banner__message {
      font-size: 19px;
      font-size: 1.1875rem;
      line-height: 1.31579;
    }
  }
  
  @media print {
    .moj-banner__message {
      font-size: 14pt;
      line-height: 1.15;
    }
  }
  
  .moj-banner__message h2 {
    margin-bottom: 10px;
  }
  
  .moj-banner__message h2:last-child,
  .moj-banner__message p:last-child {
    margin-bottom: 0;
  }
  
  .moj-banner__assistive {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
    clip: rect(0 0 0 0) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    border: 0 !important;
    white-space: nowrap !important;
  }
  
  /* Style variants
     ========================================================================== */
  .moj-banner--success {
    border-color: #00703c;
    color: #00703c;
  }
  
  .moj-banner--warning {
    border-color: #d4351c;
    color: #d4351c;
  }
  
  /* ==========================================================================
     #BUTTON GROUP
     ========================================================================== */
  .moj-button-menu {
    display: inline-block;
    position: relative;
  }
  
  /* TOGGLE BUTTON */
  .moj-button-menu__toggle-button {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    width: auto;
  }
  
  .moj-button-menu__toggle-button:last-child {
    margin-right: 0;
  }
  
  .moj-button-menu__toggle-button:after {
    background-repeat: no-repeat;
    background-image: url(/assets/images/icon-arrow-white-down.svg);
    content: '';
    display: inline-block;
    height: 5px;
    margin-left: 10px;
    width: 10px;
    vertical-align: middle;
  }
  
  .moj-button-menu__toggle-button:focus:after {
    background-image: url(/assets/images/icon-arrow-black-down.svg);
  }
  
  .moj-button-menu__toggle-button[aria-expanded="true"]:focus:after {
    background-image: url(/assets/images/icon-arrow-black-up.svg);
  }
  
  .moj-button-menu__toggle-button:hover:after {
    background-image: url(/assets/images/icon-arrow-white-down.svg);
  }
  
  .moj-button-menu__toggle-button[aria-expanded="true"]:hover:after {
    background-image: url(/assets/images/icon-arrow-white-up.svg);
  }
  
  .moj-button-menu__toggle-button[aria-expanded="true"]:after {
    background-image: url(/assets/images/icon-arrow-white-up.svg);
  }
  
  .moj-button-menu__toggle-button--secondary {
    margin-bottom: 5px;
    margin-right: 0;
  }
  
  .moj-button-menu__toggle-button--secondary:after {
    background-image: url(/assets/images/icon-arrow-black-down.svg);
  }
  
  .moj-button-menu__toggle-button--secondary[aria-expanded="true"]:after {
    background-image: url(/assets/images/icon-arrow-black-up.svg);
  }
  
  .moj-button-menu__toggle-button--secondary:hover:after {
    background-image: url(/assets/images/icon-arrow-black-down.svg);
  }
  
  .moj-button-menu__toggle-button--secondary[aria-expanded="true"]:hover:after {
    background-image: url(/assets/images/icon-arrow-black-up.svg);
  }
  
  /* MENU ITEM */
  .moj-button-menu__item {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    width: auto;
  }
  
  .moj-button-menu__item:last-child {
    margin-right: 0;
  }
  
  .moj-button-menu [role=menuitem] {
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    background-color: #f3f2f1;
    border: none;
    box-sizing: border-box;
    display: block;
    margin-bottom: 0;
    padding: 10px;
    text-align: left;
    width: 100%;
    -webkit-box-sizing: border-box;
    -webkit-appearance: none;
  }
  
  @media print {
    .moj-button-menu [role=menuitem] {
      font-family: sans-serif;
    }
  }
  
  @media (min-width: 40.0625em) {
    .moj-button-menu [role=menuitem] {
      font-size: 19px;
      font-size: 1.1875rem;
      line-height: 1.31579;
    }
  }
  
  @media print {
    .moj-button-menu [role=menuitem] {
      font-size: 14pt;
      line-height: 1.15;
    }
  }
  
  .moj-button-menu [role=menuitem]:link, .moj-button-menu [role=menuitem]:visited {
    text-decoration: none;
    color: #0b0c0c;
  }
  
  .moj-button-menu [role=menuitem]:hover {
    background-color: #b1b4b6;
  }
  
  .moj-button-menu [role=menuitem]:focus {
    outline: 3px solid #ffdd00;
    outline-offset: 0;
    position: relative;
    z-index: 10;
  }
  
  /* MENU WRAPPER */
  .moj-button-menu__wrapper {
    font-size: 0;
    /* Hide whitespace between elements */
  }
  
  .moj-button-menu__wrapper--right {
    right: 0;
  }
  
  .moj-button-menu [role=menu] {
    position: absolute;
    width: 200px;
    z-index: 10;
  }
  
  .moj-button-menu [aria-expanded="true"] + [role=menu] {
    display: block;
  }
  
  .moj-button-menu [aria-expanded="false"] + [role=menu] {
    display: none;
  }
  
  /* ==========================================================================
     #DENOTE
     ========================================================================== */
  .moj-label__currency {
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    background-color: #f3f2f1;
    position: absolute;
    margin: 2px 0 0 2px !important;
    padding: 5.5px 12px;
    border-right: 2px solid #0b0c0c;
  }
  
  @media print {
    .moj-label__currency {
      font-family: sans-serif;
    }
  }
  
  @media (min-width: 40.0625em) {
    .moj-label__currency {
      font-size: 19px;
      font-size: 1.1875rem;
      line-height: 1.31579;
    }
  }
  
  @media print {
    .moj-label__currency {
      font-size: 14pt;
      line-height: 1.15;
    }
  }
  
  .moj-label__currency--error {
    background-color: #d4351c;
    border-right: 2px solid #d4351c;
    color: #ffffff;
  }
  
  @media (max-width: 40.0525em) {
    .moj-label__currency {
      padding: 8px 12px;
    }
  }
  
  .moj-input__currency {
    margin: 0;
    padding-left: 40px;
  }
  
  /* ==========================================================================
     #FILTER
     ========================================================================== */
  .moj-filter {
    background-color: #ffffff;
    box-shadow: inset 0 0 0 1px #b1b4b6;
  }
  
  .moj-filter:focus {
    box-shadow: 0 -2px #ffdd00, 0 4px #0b0c0c;
  }
  
  .moj-filter__header {
    background-color: #b1b4b6;
    font-size: 0;
    padding: 10px 20px;
    text-align: justify;
  }
  
  .moj-filter__header:after {
    content: '';
    display: inline-block;
    width: 100%;
  }
  
  .moj-filter__header [class^=govuk-heading-] {
    margin-bottom: 0;
  }
  
  .moj-filter__legend {
    overflow: visible;
    width: 100%;
  }
  
  .moj-filter__legend button {
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1.11111;
    background-color: transparent;
    box-sizing: border-box;
    border-radius: 0;
    border: 0 none;
    cursor: pointer;
    display: block;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: left;
    width: 100%;
    -webkit-appearance: none;
  }
  
  @media print {
    .moj-filter__legend button {
      font-family: sans-serif;
    }
  }
  
  @media (min-width: 40.0625em) {
    .moj-filter__legend button {
      font-size: 24px;
      font-size: 1.5rem;
      line-height: 1.25;
    }
  }
  
  @media print {
    .moj-filter__legend button {
      font-size: 18pt;
      line-height: 1.15;
    }
  }
  
  .moj-filter__legend button::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  
  .moj-filter__legend button::after {
    background-image: url(/assets/images/icon-toggle-plus-minus.svg);
    background-position: 0 0;
    content: "";
    display: block;
    height: 16px;
    margin-top: -8px;
    position: absolute;
    top: 50%;
    right: 0;
    width: 16px;
  }
  
  .moj-filter__legend button[aria-expanded="true"]::after {
    background-position: 16px 16px;
  }
  
  .moj-filter__header-title,
  .moj-filter__header-action {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
  }
  
  .moj-filter__close {
    color: #0b0c0c;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-radius: 0;
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
  }
  
  .moj-filter__close:focus {
    background-color: #ffdd00;
    color: #0b0c0c;
    box-shadow: 0 -2px #ffdd00, 0 4px #0b0c0c;
    outline: none;
  }
  
  .moj-filter__close::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  
  .moj-filter__close::before {
    background-image: url(/assets/images/icon-close-cross-black.svg);
    content: "";
    display: inline-block;
    height: 14px;
    margin-right: 5px;
    position: relative;
    top: -1px;
    vertical-align: middle;
    width: 14px;
  }
  
  .moj-filter__close {
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
  }
  
  @media print {
    .moj-filter__close {
      font-family: sans-serif;
    }
  }
  
  @media (min-width: 40.0625em) {
    .moj-filter__close {
      font-size: 19px;
      font-size: 1.1875rem;
      line-height: 1.31579;
    }
  }
  
  @media print {
    .moj-filter__close {
      font-size: 14pt;
      line-height: 1.15;
    }
  }
  
  .moj-filter__selected {
    background-color: #f3f2f1;
    box-shadow: inset 0 0 0 1px #b1b4b6;
    padding: 20px;
  }
  
  .moj-filter__selected ul:last-of-type {
    margin-bottom: 0;
  }
  
  .moj-filter__selected-heading {
    font-size: 0;
    text-align: justify;
  }
  
  .moj-filter__selected-heading:after {
    content: '';
    display: inline-block;
    width: 100%;
  }
  
  .moj-filter__heading-title,
  .moj-filter__heading-action {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
  }
  
  .moj-filter-tags {
    font-size: 0;
    margin-bottom: 20px;
    padding-left: 0;
  }
  
  .moj-filter-tags li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .moj-filter__tag {
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.14286;
    background-color: #ffffff;
    border: 1px solid #0b0c0c;
    color: #0b0c0c;
    display: inline-block;
    margin-top: 5px;
    padding: 5px;
    text-decoration: none;
  }
  
  @media print {
    .moj-filter__tag {
      font-family: sans-serif;
    }
  }
  
  @media (min-width: 40.0625em) {
    .moj-filter__tag {
      font-size: 16px;
      font-size: 1rem;
      line-height: 1.25;
    }
  }
  
  @media print {
    .moj-filter__tag {
      font-size: 14pt;
      line-height: 1.2;
    }
  }
  
  .moj-filter__tag:link, .moj-filter__tag:visited {
    color: #0b0c0c;
  }
  
  .moj-filter__tag:focus {
    color: #0b0c0c;
    background-color: #ffdd00;
  }
  
  .moj-filter__tag:hover {
    background-color: #0b0c0c;
    color: #ffffff;
  }
  
  .moj-filter__tag:after {
    background-image: url(/assets/images/icon-tag-remove-cross.svg);
    content: "";
    display: inline-block;
    font-weight: bold;
    height: 10px;
    margin-left: 5px;
    vertical-align: middle;
    width: 10px;
  }
  
  .moj-filter__tag:hover:after {
    background-image: url(/assets/images/icon-tag-remove-cross-white.svg);
  }
  
  .moj-filter__options {
    box-shadow: inset 0 0 0 1px #b1b4b6;
    margin-top: -1px;
    padding: 20px;
  }
  
  .moj-filter__options div:last-of-type {
    margin-bottom: 0;
  }
  