<!DOCTYPE html>
<html lang="en" class="govuk-template ">
  <head>
    <meta charset="utf-8">
    <title>
  Task list
</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="theme-color" content="#0b0c0c"> 
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    
      <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/govuk/assets/images/favicon.ico" type="image/x-icon">
      <link rel="mask-icon" href="/govuk/assets/images/govuk-mask-icon.svg" color="#0b0c0c"> 
      <link rel="apple-touch-icon" sizes="180x180" href="/govuk/assets/images/govuk-apple-touch-icon-180x180.png">
      <link rel="apple-touch-icon" sizes="167x167" href="/govuk/assets/images/govuk-apple-touch-icon-167x167.png">
      <link rel="apple-touch-icon" sizes="152x152" href="/govuk/assets/images/govuk-apple-touch-icon-152x152.png">
      <link rel="apple-touch-icon" href="/govuk/assets/images/govuk-apple-touch-icon.png">



    

    
  <meta name="description" content="Use the GOV.UK Prototype Kit to quickly make realistic HTML prototypes of GOV.UK services.">

<!--[if lte IE 8]><link href="/public/stylesheets/application-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
<!--[if gt IE 8]><!--><link href="/public/stylesheets/application.css" media="all" rel="stylesheet" type="text/css" /><!--<![endif]-->
       <!--[if !IE 8]><!-->
        <link href="/govuk-frontend/govuk/all.css" rel="stylesheet">
        <!--<![endif]-->


    
    
    <meta property="og:image" content="/govuk/assets/images/govuk-opengraph-image.png">
  </head>
  <body class="govuk-template__body ">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
    

    
      <a href="#main-content" class="govuk-skip-link">Skip to main content</a>

    

    
  
  <header class="govuk-header " role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    
    
    <div class="govuk-header__content">
    
    <a href="/" class="govuk-header__link govuk-header__link--service-name">
      Manage trusts and academy schools
    </a>
    
    
    <button type="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation" aria-label="Show or hide navigation menu">Menu</button>
 
    
    </div>
    
  </div>
</header>

<div class="govuk-width-container ">
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <h1 class="govuk-heading-xl">Default page template</h1>
  
  
    <div class="moj-filter-layout">

      <div class="moj-filter-layout__filter">
      
      <div class="moj-filter">
      
        <div class="moj-filter__header">
      
          <div class="moj-filter__header-title">
            <h2 class="govuk-heading-m">Filter</h2>
          </div>
      
          <div class="moj-filter__header-action">
      
          </div>
      
        </div>
      
        <div class="moj-filter__content">
      
          <div class="moj-filter__selected">
      
            <div class="moj-filter__selected-heading">
      
              <div class="moj-filter__heading-title">
                <h2 class="govuk-heading-m">Selected filters</h2>
              </div>
      
              <div class="moj-filter__heading-action">
                <p><a class="govuk-link govuk-link--no-visited-state" href="">Clear filters</a></p>
              </div>
      
            </div>
      
            <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Colour</h3>
      
            <ul class="moj-filter-tags">
      
              <li><a class="moj-filter__tag" href="#"><span class="govuk-visually-hidden">Remove this filter</span> Blue</a></li>
      
              <li><a class="moj-filter__tag" href="#"><span class="govuk-visually-hidden">Remove this filter</span> Yellow</a></li>
      
            </ul>
      
            <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Status</h3>
      
            <ul class="moj-filter-tags">
      
              <li><a class="moj-filter__tag" href="#"><span class="govuk-visually-hidden">Remove this filter</span> Complete</a></li>
      
            </ul>
      
          </div>
      
          <div class="moj-filter__options">
      
            <button type="submit" class="govuk-button" data-module="govuk-button">
              Apply filters
            </button>
      
            <div class="govuk-form-group">
              <label class="govuk-label govuk-label--m" for="keywords">
                Keywords
              </label>
      
              <input class="govuk-input" id="keywords" name="keywords" type="text">
            </div>
      
            <div class="govuk-form-group">
      
              <fieldset class="govuk-fieldset">
      
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      
                  Colour
      
                </legend>
      
                <div class="govuk-checkboxes govuk-checkboxes--small">
      
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="type" name="type" type="checkbox" value="1" checked>
                    <label class="govuk-label govuk-checkboxes__label" for="type">
                      Blue (18)
                    </label>
      
                  </div>
      
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="type-2" name="type" type="checkbox" value="2" checked>
                    <label class="govuk-label govuk-checkboxes__label" for="type-2">
                      Yellow (5)
                    </label>
      
                  </div>
      
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="type-3" name="type" type="checkbox" value="3">
                    <label class="govuk-label govuk-checkboxes__label" for="type-3">
                      Red (2)
                    </label>
      
                  </div>
      
                </div>
              </fieldset>
      
            </div>
      
            <div class="govuk-form-group">
      
              <fieldset class="govuk-fieldset">
      
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      
                  Status
      
                </legend>
      
                <div class="govuk-checkboxes govuk-checkboxes--small">
      
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="status" name="status" type="checkbox" value="1" checked>
                    <label class="govuk-label govuk-checkboxes__label" for="status">
                      Complete (5)
                    </label>
      
                  </div>
      
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="status-2" name="status" type="checkbox" value="2">
                    <label class="govuk-label govuk-checkboxes__label" for="status-2">
                      Incomplete (3)
                    </label>
      
                  </div>
      
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="status-3" name="status" type="checkbox" value="3">
                    <label class="govuk-label govuk-checkboxes__label" for="status-3">
                      In progress (13)
                    </label>
      
                  </div>
      
                </div>
              </fieldset>
      
            </div>
      
          </div>
      
        </div>
      
      </div>
      
      </div>
      
      <div class="moj-filter-layout__content">
      
      <div class="moj-action-bar">
      
        <div class="moj-action-bar__filter"></div>
      
        <div class="moj-button-menu">
          <div class="moj-button-menu__wrapper">
      
            <button type="submit" class="govuk-button moj-button-menu__item govuk-button--secondary " data-module="govuk-button">
              Action 1
            </button>
      
            <button type="submit" class="govuk-button moj-button-menu__item govuk-button--secondary " data-module="govuk-button">
              Action 2
            </button>
      
          </div>
        </div>
      
      </div>
      
      <div class="moj-scrollable-pane">
      
        <div class="moj-scrollable-pane__wrapper">
      
          <table class="govuk-table">
      
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
      
                <th scope="col" class="govuk-table__header">Reference</th>
      
                <th scope="col" class="govuk-table__header">Person</th>
      
                <th scope="col" class="govuk-table__header">Colour</th>
      
                <th scope="col" class="govuk-table__header">Status</th>
      
                <th scope="col" class="govuk-table__header">Date of last event</th>
      
              </tr>
            </thead>
      
            <tbody class="govuk-table__body">
      
              <tr class="govuk-table__row">
      
                <th scope="row" class="govuk-table__header"><a href="#">44455453</a></th>
      
                <td class="govuk-table__cell">John Smith</td>
      
                <td class="govuk-table__cell">Blue</td>
      
                <td class="govuk-table__cell">Complete</td>
      
                <td class="govuk-table__cell">25 Jan 2018</td>
      
              </tr>
      
              <tr class="govuk-table__row">
      
                <th scope="row" class="govuk-table__header"><a href="#">12323212</a></th>
      
                <td class="govuk-table__cell">Warren Sutton</td>
      
                <td class="govuk-table__cell">Yellow</td>
      
                <td class="govuk-table__cell">In progress</td>
      
                <td class="govuk-table__cell">25 Jan 2018</td>
      
              </tr>
      
              <tr class="govuk-table__row">
      
                <th scope="row" class="govuk-table__header"><a href="#">45678765</a></th>
      
                <td class="govuk-table__cell">Alan Jones</td>
      
                <td class="govuk-table__cell">Yellow</td>
      
                <td class="govuk-table__cell">In progress</td>
      
                <td class="govuk-table__cell">9 May 2018</td>
      
              </tr>
      
              <tr class="govuk-table__row">
      
                <th scope="row" class="govuk-table__header"><a href="#">12345678</a></th>
      
                <td class="govuk-table__cell">Jennifer Langley</td>
      
                <td class="govuk-table__cell">Yellow</td>
      
                <td class="govuk-table__cell">In progress</td>
      
                <td class="govuk-table__cell">9 May 2018</td>
      
              </tr>
      
              <tr class="govuk-table__row">
      
                <th scope="row" class="govuk-table__header"><a href="#">89009800</a></th>
      
                <td class="govuk-table__cell">Susan Francis</td>
      
                <td class="govuk-table__cell">Red</td>
      
                <td class="govuk-table__cell">Incomplete</td>
      
                <td class="govuk-table__cell">9 May 2018</td>
      
              </tr>
      
              <tr class="govuk-table__row">
      
                <th scope="row" class="govuk-table__header"><a href="#">44455453</a></th>
      
                <td class="govuk-table__cell">John Smith</td>
      
                <td class="govuk-table__cell">Blue</td>
      
                <td class="govuk-table__cell">Complete</td>
      
                <td class="govuk-table__cell">25 Jan 2018</td>
      
              </tr>
      
              <tr class="govuk-table__row">
      
                <th scope="row" class="govuk-table__header"><a href="#">12323212</a></th>
      
                <td class="govuk-table__cell">Warren Sutton</td>
      
                <td class="govuk-table__cell">Yellow</td>
      
                <td class="govuk-table__cell">In progress</td>
      
                <td class="govuk-table__cell">25 Jan 2018</td>
      
              </tr>
      
              <tr class="govuk-table__row">
      
                <th scope="row" class="govuk-table__header"><a href="#">45678765</a></th>
      
                <td class="govuk-table__cell">Alan Jones</td>
      
                <td class="govuk-table__cell">Yellow</td>
      
                <td class="govuk-table__cell">In progress</td>
      
                <td class="govuk-table__cell">9 May 2018</td>
      
              </tr>
      
              <tr class="govuk-table__row">
      
                <th scope="row" class="govuk-table__header"><a href="#">12345678</a></th>
      
                <td class="govuk-table__cell">Jennifer Langley</td>
      
                <td class="govuk-table__cell">Yellow</td>
      
                <td class="govuk-table__cell">In progress</td>
      
                <td class="govuk-table__cell">9 May 2018</td>
      
              </tr>
      
              <tr class="govuk-table__row">
      
                <th scope="row" class="govuk-table__header"><a href="#">89009800</a></th>
      
                <td class="govuk-table__cell">Susan Francis</td>
      
                <td class="govuk-table__cell">Red</td>
      
                <td class="govuk-table__cell">Incomplete</td>
      
                <td class="govuk-table__cell">9 May 2018</td>
      
              </tr>
      
              <tr class="govuk-table__row">
      
                <th scope="row" class="govuk-table__header"><a href="#">45456765</a></th>
      
                <td class="govuk-table__cell">John Smith</td>
      
                <td class="govuk-table__cell">Red</td>
      
                <td class="govuk-table__cell">Incomplete</td>
      
                <td class="govuk-table__cell">9 May 2018</td>
      
              </tr>
      
              <tr class="govuk-table__row">
      
                <th scope="row" class="govuk-table__header"><a href="#">88675411</a></th>
      
                <td class="govuk-table__cell">Margaret Blake</td>
      
                <td class="govuk-table__cell">Red</td>
      
                <td class="govuk-table__cell">Incomplete</td>
      
                <td class="govuk-table__cell">9 May 2018</td>
      
              </tr>
      
              <tr class="govuk-table__row">
      
                <th scope="row" class="govuk-table__header"><a href="#">44455453</a></th>
      
                <td class="govuk-table__cell">John Smith</td>
      
                <td class="govuk-table__cell">Blue</td>
      
                <td class="govuk-table__cell">Complete</td>
      
                <td class="govuk-table__cell">25 Jan 2018</td>
      
              </tr>
      
              <tr class="govuk-table__row">
      
                <th scope="row" class="govuk-table__header"><a href="#">12323212</a></th>
      
                <td class="govuk-table__cell">Warren Sutton</td>
      
                <td class="govuk-table__cell">Yellow</td>
      
                <td class="govuk-table__cell">In progress</td>
      
                <td class="govuk-table__cell">25 Jan 2018</td>
      
              </tr>
      
              <tr class="govuk-table__row">
      
                <th scope="row" class="govuk-table__header"><a href="#">45678765</a></th>
      
                <td class="govuk-table__cell">Alan Jones</td>
      
                <td class="govuk-table__cell">Yellow</td>
      
                <td class="govuk-table__cell">In progress</td>
      
                <td class="govuk-table__cell">9 May 2018</td>
      
              </tr>
      
              <tr class="govuk-table__row">
      
                <th scope="row" class="govuk-table__header"><a href="#">12345678</a></th>
      
                <td class="govuk-table__cell">Jennifer Langley</td>
      
                <td class="govuk-table__cell">Yellow</td>
      
                <td class="govuk-table__cell">In progress</td>
      
                <td class="govuk-table__cell">9 May 2018</td>
      
              </tr>
      
            </tbody>
          </table>
      
        </div>
      
      </div>
      </div> 
  
  
  
  
  
  
  
  
  
  
  </main>
</div>
    

    
    
<footer class="govuk-footer govuk-footer--app" role="contentinfo">
  <div class="govuk-width-container ">
    
    <div class="govuk-footer__meta">
      <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
        
          
            <h2 class="govuk-heading-m">Get support</h2>
          
          
            <div class="govuk-footer__meta-custom">
              
  <ul class="govuk-footer__meta-custom govuk-list govuk-!-font-size-16">
    <li>Email: <a class="govuk-link govuk-footer__link" href="mailto:becomingateacher@digital.education.gov.uk">becomingateacher<wbr>@digital.education.gov.uk</a></li>
    <li>We aim to respond within 5 working days, or one working day for more urgent&nbsp;queries</li>
  </ul>
  
  <p class="govuk-body govuk-!-font-size-16"><a href="#" class="govuk-link govuk-footer__link">How to use Register trainee teachers</a></p>

            </div>
          
          
            <ul class="govuk-footer__inline-list">
              
                <li class="govuk-footer__inline-list-item">
                  <a class="govuk-footer__link" href="/accessibility-statement">
                    Accessibility
                  </a>
                </li>
              
                <li class="govuk-footer__inline-list-item">
                  <a class="govuk-footer__link" href="/cookies">
                    Cookies
                  </a>
                </li>
              
                <li class="govuk-footer__inline-list-item">
                  <a class="govuk-footer__link" href="/privacy-policy">
                    Privacy policy
                  </a>
                </li>
              
                <li class="govuk-footer__inline-list-item">
                  <a class="govuk-footer__link" href="/admin">
                    Prototype admin
                  </a>
                </li>
              
                <li class="govuk-footer__inline-list-item">
                  <a class="govuk-footer__link" href="/admin/clear-data">
                    Clear data
                  </a>
                </li>
              
                <li class="govuk-footer__inline-list-item">
                  <a class="govuk-footer__link" href="">
                    
                  </a>
                </li>
              
                <li class="govuk-footer__inline-list-item">
                  <a class="govuk-footer__link" href="">
                    
                  </a>
                </li>
              
                <li class="govuk-footer__inline-list-item">
                  <a class="govuk-footer__link" href="">
                    
                  </a>
                </li>
              
            </ul>
          
        
      </div>
      <div class="govuk-footer__meta-item">
        <a class="govuk-footer__link govuk-footer__copyright-logo"
          href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/"
        >© Crown copyright</a>
      </div>
    </div>
  </div>
</footer>

  

    
  
    <!-- Javascript -->
<script src="/public/javascripts/jquery-1.11.3.js"></script>
<script src="/node_modules/moj-frontend/moj/all.js"></script>



  <script src="/extension-assets/govuk-frontend/govuk/all.js"></script>

  <script src="/extension-assets/%40ministryofjustice%2Ffrontend/moj/all.js"></script>


<script src="/public/javascripts/application.js"></script>


  <script src="/public/javascripts/auto-store-data.js"></script>


    
  <script>

    
    new MOJFrontend.FilterToggleButton({
    bigModeMediaQuery: '(min-width: 48.063em)',
    startHidden: false,
    toggleButton: {
      container: $('.moj-action-bar__filter'),
      showText: 'Show filter',
      hideText: 'Hide filter',
      classes: 'govuk-button--secondary govuk-!-margin-bottom-0'
    },
    closeButton: {
      container: $('.moj-filter__header-action'),
      text: 'Close'
    },
    filter: {
      container: $('.moj-filter')
    }
  });
  </script>

  
  <!-- GOV.UK Prototype Kit v9.8.0 -->

  </body>
</html>
